<div class="table-responsive">
    <table class="table table-hover  table-borderless">
        <thead>
            <tr>
                <th>
                    <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                
                                <span class="cr">
                                    <i class="cr-icon feather icon-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    Articulo</th>
                <th>visitas</th>
                <th>tiempo en la pagina</th>
                <th>entradas</th>
                <th>salidas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                
                                <span class="cr">
                                    <i class="cr-icon feather icon-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="d-inline-block align-middle">
                        <h6>Angular</h6>
                        <p class="text-muted m-b-0">Tecnologia JavaScript</p>
                    </div>
                </td>
                <td>16,300</td>
                <td><canvas id="app-sale1" height="50" width="100"></canvas></td>
                <td>$53</td>
                <td class="text-c-blue">$15,652</td>
            </tr>
            <tr>
                <td>
                    <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                
                                <span class="cr">
                                    <i class="cr-icon feather icon-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="d-inline-block align-middle">
                        <h6>React</h6>
                        <p class="text-muted m-b-0">Tecnologia JavaScript</p>
                    </div>
                </td>
                <td>26,421</td>
                <td><canvas id="app-sale2" height="50" width="100"></canvas></td>
                <td>$35</td>
                <td class="text-c-blue">$18,785</td>
            </tr>
            <tr>
                <td>
                    <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                
                                <span class="cr">
                                    <i class="cr-icon feather icon-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="d-inline-block align-middle">
                        <h6>laravel</h6>
                        <p class="text-muted m-b-0">tecnologia php</p>
                    </div>
                </td>
                <td>8,265</td>
                <td><canvas id="app-sale3" height="50" width="100"></canvas></td>
                <td>$98</td>
                <td class="text-c-blue">$9,652</td>
            </tr>
            
        </tbody>
    </table>
